/* *************************** */
/* Global Settings             */
/* *************************** */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #121212;
	font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 2em 4.5em;
}

/* *************************** */
/* Header Styling              */
/* *************************** */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 218px;
	height: 135px;
}

header nav a {
	text-decoration: none;
	color: #bb86f6;
	font-size: 1.6rem;
	margin: 0 1.2em;
	font-weight: 700;
}

header nav a.selected {
	color: #03dac6;
}

/* *************************** */
/* Options Buttons Styling     */
/* *************************** */
.optionsContainer {
	display: flex;
	margin: 2.5em 0;
}

.optionsContainer .option {
	width: 210px;
	height: 55px;
	background-color: #3700b3;
	color: #ffffff;
	font-size: 0.9rem;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 18px;
	margin-right: 2.1em;
	cursor: pointer;
}

.optionsContainer .option.selected {
	background-color: #03dac6;
	color: #222121;
}

.optionsContainer .option:not(.selected):hover {
	background-color: #bb86f6;
	color: #222121;
}
