/* *************************** */
/* Global Settings             */
/* *************************** */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background-color: #121212;
	width: 85%;
	max-width: 1500px;
	margin: 1.5em auto;
}

/* *************************** */
/* Header Styling              */
/* *************************** */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 218px;
	height: 135px;
}

header nav a {
	text-decoration: none;
	color: #bb86f6;
	font-size: 1.6rem;
	margin: 0 1em;
	font-weight: 700;
}

header nav a.selected {
	color: #03dac6;
}

/* *************************** */
/* Options Buttons Styling     */
/* *************************** */
.optionsContainer {
	display: flex;
	margin: 2.5em 0;
}

.optionsContainer .option {
	width: 210px;
	height: 55px;
	background-color: #3700b3;
	color: #ffffff;
	font-size: 0.9rem;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 18px;
	margin-right: 2.1em;
	cursor: pointer;
}

.optionsContainer .option.selected {
	background-color: #03dac6;
	color: #222121;
}

.optionsContainer .option:not(.selected):hover {
	background-color: #bb86f6;
	color: #222121;
}

/* *************************** */
/* Filter Container Styling    */
/* *************************** */
.filtersContainer {
	display: flex;
	align-items: center;
}

.searchBarContainer {
	position: relative;
}

.searchBarContainer input {
	width: 450px;
	height: 50px;
	border-radius: 13px;
	font-size: 0.9rem;
	color: #000000ac;
	padding: 0 2.6em 0 0.8em;
	outline: none;
}

.searchBarContainer .fa-search {
	font-size: 1.5rem;
	color: #333333;
	position: absolute;
	top: 13px;
	right: 15px;
}

.dropdown {
	width: 190px;
	height: 48px;
	padding-left: 1em;
	color: #000000ac;
	font-size: 0.9rem;
	border-radius: 24px;
	margin-left: 1.1em;
	outline: none;
	cursor: pointer;
	-webkit-appearance: none;
}

/* *************************** */
/* Data Table Styling          */
/* *************************** */

#tableContainer {
	margin-top: 2em;
	display: flex;
	justify-content: center;
}

#dataTable {
	width: 100%;
	border-spacing: 0 0.5em;
}

#dataTable thead th {
	color: #bb86f6;
	font-weight: 500;
	padding: 0 2em;
}

#dataTable tbody tr {
	background-color: #202020;
	margin: 0.7em 0;
	border-top-left-radius: 13px;
	border-bottom-left-radius: 13px;
	border-top-right-radius: 13px;
	border-bottom-right-radius: 13px;
}

#dataTable tr {
	display: grid;
	grid-template-columns: 3fr repeat(4, 1fr);
}

#dataTable td {
	color: #03dac6;
	text-align: center;
	padding: 1em 0;
	font-weight: 300;
	display: flex;
	justify-content: center;
	align-items: center;
}

#dataTable td:nth-child(1) {
	justify-content: flex-start;
	padding-left: 2em;
}

#dataTable .far {
	color: #03dac6;
	cursor: pointer;
}

#dataTable .far.opened {
	color: #f0f0f0;
}

#dataTable .spanRow {
	display: grid;
	grid-column: 1/5;
	justify-content: left;
}

#dataTable .hideDetail {
	display: none;
}

#rowDetail {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	margin-left: 3em;
	padding-bottom: 1em;
}

#rowDetail .mediaImage {
	width: 180px;
	height: 260px;
	border-radius: 27px;
}

#rowDetail p {
	text-align: left;
	max-width: 75ch;
	color: white;
	font-size: 0.9rem;
	margin-left: 1.5em;
}

#columnDetail {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 280px;
}

#columnDetail p {
	margin-bottom: 1em;
}

#columnDetail .subHeading {
	font-weight: 600;
}
