/* *************************** */
/* Global Settings             */
/* *************************** */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background-color: #121212;
	width: 85%;
	max-width: 1500px;
	margin: 1.5em auto;
}

/* *************************** */
/* Header Styling              */
/* *************************** */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 218px;
	height: 135px;
}

header nav a {
	text-decoration: none;
	color: #c6c6c6;
	font-size: 1.6rem;
	margin: 0 1em;
	font-weight: 700;
}

header nav a:not(.selected):hover {
	color: #bb86f6;
}

header nav a.selected {
	color: #03dac6;
}

/* *************************** */
/* Options Buttons Styling     */
/* *************************** */
.optionsContainer {
	display: flex;
	margin: 2.5em 0;
}

.optionsContainer .option {
	width: 210px;
	height: 55px;
	background-color: #3700b3;
	color: #ffffff;
	font-size: 0.9rem;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 18px;
	margin-right: 2.1em;
	cursor: pointer;
}

.optionsContainer .option.selected {
	background-color: #03dac6;
	color: #222121;
}

.optionsContainer .option:not(.selected):hover {
	background-color: #bb86f6;
	color: #222121;
}

/* *************************** */
/* Filter Container Styling    */
/* *************************** */
.filtersContainer {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.searchBarContainer {
	position: relative;
}

.selectsContainer {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.searchBarContainer input {
	width: 350px;
	height: 50px;
	border-radius: 24px;
	font-size: 0.9rem;
	color: #000000ac;
	padding: 0 3em 0 0.8em;
	outline: none;
	margin-right: 0.5em;
}

.searchBarContainer .fa-search {
	font-size: 1.5rem;
	color: #333333;
	position: absolute;
	top: 13px;
	right: 20px;
}

.dropdown {
	width: 170px;
	height: 50px;
	padding-left: 1em;
	color: #000000ac;
	font-size: 0.8rem;
	border-radius: 24px;
	margin-right: 0.5em;
	outline: none;
	cursor: pointer;
	-webkit-appearance: none;
}

/* *************************** */
/* Data Table Styling          */
/* *************************** */

#tableContainer {
	margin-top: 1.2em;
	display: flex;
	justify-content: center;
}

#dataTable {
	width: 100%;
	border-spacing: 0 0.5em;
}

#dataTable thead th {
	color: #bb86f6;
	font-weight: 500;
	padding: 0 2em;
	font-size: 1rem;
}

#dataTable tbody tr {
	background-color: #202020;
	margin: 0.7em 0;
	border-top-left-radius: 13px;
	border-bottom-left-radius: 13px;
	border-top-right-radius: 13px;
	border-bottom-right-radius: 13px;
}

#dataTable tr {
	display: grid;
	grid-template-columns: 3fr repeat(4, 1fr);
}

#dataTable td {
	color: #03dac6;
	text-align: center;
	padding: 1em 0;
	font-weight: 300;
	display: flex;
	justify-content: center;
	align-items: center;
}

#dataTable td:nth-child(1) {
	justify-content: flex-start;
	padding-left: 2em;
	text-align: left;
}

#dataTable .far {
	color: #03dac6;
	cursor: pointer;
}

#dataTable .far.opened {
	color: #f0f0f0;
}

#dataTable .spanRow {
	display: grid;
	grid-column: 1 / 5;
	justify-content: left;
}

#dataTable .hideDetail {
	display: none;
}

#rowDetail {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	margin-left: 3em;
	padding-bottom: 1em;
}

#rowDetail .mediaImage {
	width: 180px;
	height: 260px;
	border-radius: 27px;
}

#rowDetail p {
	text-align: left;
	max-width: 75ch;
	color: white;
	font-size: 0.9rem;
	margin-left: 1.5em;
}

#columnDetail {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 260px;
}

#columnDetail p {
	margin-bottom: 1em;
}

#columnDetail .subHeading {
	font-weight: 600;
}

/* *************************** */
/* Footer Styling          */
/* *************************** */
footer {
	margin-top: 1em;
	color: #f0f0f0;
	font-size: 0.8rem;
}

/* ******************************************************* */
/*            Responsive Media Queries                     */
/* ******************************************************* */

@media only screen and (max-width: 1250px) {
	.filtersContainer {
		height: 130px;
	}
}

@media only screen and (max-width: 999px) {
	#dataTable tr {
		grid-template-columns: 4fr repeat(4, 1fr);
	}
	#dataTable thead th {
		padding: 0 0.5em;
		font-size: 1rem;
	}
}

@media only screen and (max-width: 703px) {
	header nav a {
		font-size: 1.5rem;
		margin: 0 0.5em;
	}

	#dataTable thead th {
		padding: 0 0.2em;
		font-size: 0.9rem;
	}
	#rowDetail p {
		font-size: 0.8rem;
	}
}

@media only screen and (max-width: 642px) {
	body {
		width: 90%;
	}

	.logo {
		width: 200px;
		height: 100px;
	}

	header nav a {
		font-size: 1.2rem;
		margin: 0 0.5em;
	}

	.filtersContainer {
		height: 170px;
	}

	.dropdown {
		width: 48.5%;
	}

	#dataTable thead th {
		font-size: 0.8rem;
	}

	#dataTable td {
		font-size: 0.8rem;
	}

	#rowDetail p {
		font-size: 0.65rem;
	}
}

@media only screen and (max-width: 500px) {
	.logo {
		width: 140px;
		height: 70px;
	}

	header nav a {
		font-size: 1rem;
		margin: 0 0.3em;
	}

	.optionsContainer {
		justify-content: flex-end;
		margin: 2.5em 0;
	}

	.optionsContainer .option {
		font-size: 0.8rem;
		margin-right: 0.4em;
		cursor: pointer;
	}

	.filtersContainer {
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: nowrap;
		height: 100%;
	}

	.dropdown {
		width: 97%;
		margin-top: 0.5em;
	}

	.searchBarContainer input {
		width: 100%;
	}

	.searchBarContainer {
		width: 97%;
	}

	#dataTable thead th {
		font-size: 0.6rem;
	}

	#dataTable td {
		font-size: 0.6rem;
	}

	footer {
		font-size: 0.5rem;
	}

	#rowDetail p {
		font-size: 0.6rem;
	}

	#columnDetail {
		height: 440px;
		padding-right: 1em;
	}

	#rowDetail .mediaImage {
		width: 150px;
		height: 240px;
		border-radius: 27px;
	}
}
